In [5]:
json_data = [{
        "name": "Tamanna",
        "subject": "maths",
        "max_marks": 25,
        "marks_obtained": 12,
    },
    {
        "name": "Rishabh",
        "subject": "maths",
        "max_marks": 25,
        "marks_obtained": 20
    }

]

In [14]:
import pandas as pd
cols = ["name", "subject", "max_marks", "marks_obtained"]
rows = [] 
for row in json_data:
    tmp = [row["name"], row["subject"], row["max_marks"], row["marks_obtained"]] 
    rows.append(tmp) 

pd.DataFrame(rows, columns=cols)

      name subject  max_marks  marks_obtained
0  Tamanna   maths         25              12
1  Rishabh   maths         25              20

In [18]:
more_json_data = {
    "page": 2,
    "per_page": 6,
    "total": 12,
    "total_pages": 2,
    "data": [
        {
            "id": 7,
            "email": "michael.lawson@reqres.in",
            "first_name": "Michael",
            "last_name": "Lawson",
            "avatar": "https://reqres.in/img/faces/7-image.jpg"
        },
        {
            "id": 8,
            "email": "lindsay.ferguson@reqres.in",
            "first_name": "Lindsay",
            "last_name": "Ferguson",
            "avatar": "https://reqres.in/img/faces/8-image.jpg"
        },
        {
            "id": 9,
            "email": "tobias.funke@reqres.in",
            "first_name": "Tobias",
            "last_name": "Funke",
            "avatar": "https://reqres.in/img/faces/9-image.jpg"
        },
        {
            "id": 10,
            "email": "byron.fields@reqres.in",
            "first_name": "Byron",
            "last_name": "Fields",
            "avatar": "https://reqres.in/img/faces/10-image.jpg"
        },
        {
            "id": 11,
            "email": "george.edwards@reqres.in",
            "first_name": "George",
            "last_name": "Edwards",
            "avatar": "https://reqres.in/img/faces/11-image.jpg"
        },
        {
            "id": 12,
            "email": "rachel.howell@reqres.in",
            "first_name": "Rachel",
            "last_name": "Howell",
            "avatar": "https://reqres.in/img/faces/12-image.jpg"
        }
    ],
    "support": {
        "url": "https://reqres.in/#support-heading",
        "text": "To keep ReqRes free, contributions towards server costs are appreciated!"
    }
}

In [22]:
import pandas as pd
cols = ["id", "email", "first_name", "last_name", "avatar"]
rows = [] 
required_data = more_json_data["data"]
for row in required_data:
    tmp = [row["id"], row["email"], row["first_name"], row["last_name"], row["avatar"]] 
    rows.append(tmp) 

pd.DataFrame(rows, columns=cols)

,id,email,first_name,last_name,avatar
0,7,michael.lawson@reqres.in,Michael,Lawson,https://reqres.in/img/faces/7-image.jpg
1,8,lindsay.ferguson@reqres.in,Lindsay,Ferguson,https://reqres.in/img/faces/8-image.jpg
2,9,tobias.funke@reqres.in,Tobias,Funke,https://reqres.in/img/faces/9-image.jpg
3,10,byron.fields@reqres.in,Byron,Fields,https://reqres.in/img/faces/10-image.jpg
4,11,george.edwards@reqres.in,George,Edwards,https://reqres.in/img/faces/11-image.jpg
5,12,rachel.howell@reqres.in,Rachel,Howell,https://reqres.in/img/faces/12-image.jpg

In [24]:
student = {
    "name": "tamanna",
    "profession": "Data Science",
    "age": 26,
    "cars": [
        "BMW", "Hyundi"
    ],
    "schedule": {
        "monday": "coding",
        "tuesday": "blogging",
        "wednesday": "githubbing",
        "thursday": "kaggling",
        "friday": "creating"
    }
}

In [26]:
tamanna_schedule = student['schedule']

In [27]:
tamanna_schedule

{'monday': 'coding',
 'tuesday': 'blogging',
 'wednesday': 'githubbing',
 'thursday': 'kaggling',
 'friday': 'creating'}

In [30]:
tamanna_wed = tamanna_schedule['wednesday']

In [29]:
tamanna_wed

'githubbing'

In [31]:
tamanna_fri = student['schedule']['friday']

In [32]:
tamanna_fri

'creating'